<!-- <div class="body">
    <div class="container">
        <div class=" card Login">
            <div class="authBlock">
                <div class="formGroup">
                    <h1 class = "title">Cartas Marvel</h1>
                    <button type="button"  (click)="btnLogin()" >
                        <i class="fab fa-google-plus-g"></i>
                        Login con Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-6xl font-bold mb-5">Bienvenido a,</span>
            <div class="text-6xl text-primary font-bold mb-5">Game Cards</div>
            <p class="mt-0 mb-8 text-700 line-height-3">
                Para empezar a jugar debes de hacer login con tu cuenta de Google
            </p>
            <a class="bubbly-button" (click)="btnLogin()">
                <i class="pi pi-google" style="font-size: 1rem"></i>
                &nbsp;&nbsp; Identifiquese con Google
            </a>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
       <img src="../../../assets/img/hero-1.jpg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
