<app-navbar></app-navbar>

<p-card class="container-card text-center aling-content-center" header="Crear Juego"
  [style]="{'width': '30rem', 'margin-bottom': '2em'}">

  <form id="frmJugadores" [formGroup]="frmJugadores" (ngSubmit)="frmJugadores.valid ? submit() : false">

    <select name="jugadores" multiple formControlName="jugadores">
      <option *ngFor="let jugador of jugadores" [value]="[jugador.id, jugador.name]">
        {{ jugador.name }}
      </option>
    </select>


    <div class="error mt-3" *ngIf="frmJugadores.get('jugadores')?.hasError('required')">
      Debes seleccionar por lo menos un jugador
    </div>
  </form>
  <ng-template pTemplate="footer">

    <button  
      pButton pRipple 
      mat-raised-button
      class="btn" 
      type="submit" 
      label="Crear Juego" 
      icon="pi pi-check" 
      (click)="enviar()"
      [disabled]="frmJugadores.invalid">
    </button>

  </ng-template>
</p-card>