<header *ngIf="isLogged">
</header> 


<p-menubar [model]="items">
   <ng-template pTemplate="start">
      <img src="../../../assets/img/favicon.ico" height="40" class="mr-2">
   </ng-template>

   <ng-template pTemplate="end">

      <a pRipple class="m-3 aling-item-end no-underline justify-content-center boder-circle text-500 cusor-pointer">
         <p-inputSwitch 
            [(ngModel)]="themeSelection" 
            (onChange)="changeTheme($event.checked)">
         </p-inputSwitch>
      </a>
      
      <a
         pButton pRipple 
         class="btn  " 
         label="Logaut"
         (click)="logout()">
      </a>
   </ng-template>
</p-menubar>