<app-navbar></app-navbar>

<div class="surface-section mt-6 px-6 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">
            <i class="pi pi-send"></i>&nbsp;&nbsp;&nbsp;ENPECEMOS A JUGAR
        </div>

        <div class="text-700 text-2xl mb-3">Crea un juego o invita a tus amigos a jugar</div>

        <p-button 
            label="Crear Juego" 
            icon="pi pi-users" 
            (click)="crearJuego()" 
            class="mr-3">
        </p-button>
        
        <p-button 
            label="Juegos Creados" 
            icon="pi pi-check" 
            styleClass="p-button-primary" 
            (click)="listgames()">
        </p-button>

        <div class="text-blue-600 font-bold mt-6">
            <i class="pi pi-send"></i>&nbsp;&nbsp;&nbsp;Invita a tus amigos a Jugar
        </div>

    </div>
</div>