<app-menu></app-menu>
<br>
<p-fieldset legend="Datos del Juego" [toggleable]="true">
    <p class="mt-1">Numero de Ronda: {{numeroRonda}}</p>
    <p class="mt-1">Jugadores: {{jugadoresRonda}}</p>
    <p class="mt-1">Tiempo: {{tiempo}}</p>

    <button 
        pButton pRipple
        class="btnPonerCarta" 
        type="button" 
        label="Primary"
        type="button"
        label="Iniciar Ronda"
        (click)="iniciarRonda()"
        icon="pi pi-check" >
    </button>

</p-fieldset>

<br>

<p-fieldset legend="Cartas del Jugador" [toggleable]="true">
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-6 md:col-3 lg:col-2" *ngFor="let card of cartasDelJugador">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-1">Poder</span>
                            <span class="text-green-500 font-medium">{{card.poder}}</span>
                        </div>
                    </div>
                    <span class="img">
                        <img class="img" src="{{card.url}}" />
                    </span>
                    <button button pButton class="p-button-sm  m-3 p-button-outlined" 
                        (click)="ponerCarta(card.cartaId)">Poner</button>
                </div>
            </div> 
        </div>
    </div>
</p-fieldset>


<br>
<br>


<p-fieldset legend="Cartas del Tablero" [toggleable]="true">
    <div class="surface-card p-4 shadow-2 border-round">
        <div style="height: 300px" class="border-2 border-dashed surface-border">
            <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-3" *ngFor="let card of cartasDelTablero">
                        <div class="surface-card shadow-2 p-3 border-round">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Poder</span>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-prime text-blue-500 text-xl"></i>
                                </div>
                            </div>
                            <span class="text-green-500 font-medium">{{card.poder}}</span>
                            <span class="img">
                                <img class="img" src="{{card.url}}" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-fieldset>

