.img {
   width: 90px;
   height: 80px;
   display: flex;
   background-size: cover;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   text-align: center !important;
}

/* 
.grid {
   display: flex;
   flex-wrap: nowrap;
   margin-right: -0.5rem;
   margin-left: -0.5rem;
   margin-top: -0.5rem;
   justify-content: space-evenly;
} */

.btnPonerCarta {
   display: flex;
   justify-content: flex-end;
   flex-wrap: nowrap;
   margin-left: auto;
   align-items: flex-start;
   flex-direction: row;
   margin-top: -80px;
}

