<app-navbar></app-navbar>
<!--<p>Hola soy la vista de lista de Juegos</p>-->
<div >
  <h1 class = "title">Lista Juegos</h1>
</div>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let juego of dataSource">
      <span>Id Del Juego:  {{juego.id}}</span><br>
      <span>Estado del Juego:   {{juego.iniciado}}</span><br>
      <span>Cantidad de Jugadores: {{juego.cantidadJugadores}}</span><br>
      <button (click)="goBoard()" class="btn btn-primary">Entar</button>
    </li>
  </ul>
</div>

